{% extends 'base.html' %}
{% block body %}
{% load static %}

	<!--  -->
	<div class="m-5">
		<h2 class="text-center font-weight-bold" style="color:#092756;">Crop Prediction </h2>
	</div>
	<hr width="50%" class=>
	<h1 style="color: #092756;">{{output}}</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-lg-4"></div>
			<div class="col-md-12 col-lg-4 pt-5 mb-5" style="background: #092756;">
					
					<form action="/contribute" method="POST" >
						{% csrf_token %}
						<label>Nitrogen</label><br>
						<input class="inputform" type="number" min="0" max="150" name="n"><br>
						<label>Phosphorous </label><br>
						<input class="inputform" type="number" min="5" max="150" name="p"><br>
						<label>Potassium</label><br>
						<input class="inputform" type="number" min="5" max="205" name="k"><br>
						<label>Temperature</label><br>
						<input class="inputform" type="number" min="8" max="44" step="0.0001" name="t"><br>
						<label>Humidity</label><br>
						<input class="inputform" type="number" min="14" max="100" step="0.0001" name="h"><br>
						<label>ph</label><br>
						<input class="inputform" type="number" min="3" max="10" step="0.0001" name="ph"><br>
						<label>Rainfall</label><br>
						<input class="inputform" type="number" min="20" max="300" step="0.0001" name="r"><br>
						<label>Suitable crop</label><br>
						<select style="width: 50%;" class="form-control " name="crop" id="crop">
							<option value="Apple">Apple</option>
							<option value="Banana">Banana</option>
							<option value="Blackgram">Blackgram</option>
							<option value="Chickpea">Chickpea</option>
							<option value="Coconut">Coconut</option>
							<option value="Coffee">Coffee</option>
							<option value="Cotton">Cotton</option>
							<option value="Grape">Grape</option>
							<option value="Jutte">Jutte</option>
							<option value="Kidneybeans">Kidneybeans</option>
							<option value="Lentil">Lentil</option>
							<option value="Maize">Maize</option>
							<option value="Mango">Mango</option>
							<option value="Mothbeans">Mothbeans</option>
							<option value="Mungbean">Mungbean</option>
							<option value="Muskmelon">Muskmelon</option>
							<option value="Orange">Orange</option>
							<option value="Papapya">Papapya</option>
							<option value="Pigeonpeas">Pigeonpeas</option>
							<option value="Pomegranate">Pomegranate</option>
							<option value="Rice">Rice</option>							
							<option value="Watermelon">Watermelon</option>						
						</select><br>
					<button type="submit" class="btn btn-primary">Submit</button>	
					</form>
					<br><br>
				
			</div>
			<div class="col-md-12 col-lg-4"></div>
		</div>
	</div>
	{%endblock%}